- if flash[:notice]
  .alert.alert-success
    = flash[:notice]
- if flash[:alert]
  .alert.alert-danger
    = flash[:alert]

h1
  |  進捗どうですか？ 

= form_tag("/teams/#{params[:team_id]}/progresses", method: 'post') do
  p
    = label_tag '週開始日'
    = text_field_tag 'progress[start_date]', @start_date
  p
    = label_tag '成果'
    = text_field_tag 'progress[amount]'
  p
    = label_tag 'トピック'
    = text_field_tag 'topic[content]'
  p
    = submit_tag "作成"

p
  = link_to '戻る', team_progresses_path(params[:team_id])
