.centering {
  text-align: center;
}

.goal {
  text-align: right;
}

div.alert {
  margin-top: 1em;
}

div.container-table {
  margin-top: 1em;
}

div.container-form {
  margin-top: 2em;
}

div.container-graph {
  margin-top: 1em;
}
